@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  --background: #f1f2f4;
  --foreground: #1a1a1a;
  --text-color: #303030;
  --fill: #303030;
  --light: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-color: var(--text-color);
  --color-fill: var(--fill);
  --color-light: var(--light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--fill);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
